.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: getColor('primary');
    display: flex;
}

.backdrop-modal {
    @extend .backdrop;
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: $transVisibility, $transOpacity, $transTransform;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}