.technologies {
    padding-top: 180px;

    &__container {
        position: relative;
    }

    &__list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 50px;
        margin-bottom: 50px;
    }

    &__kind {
        font-size: $fontSizeBiggest;
        font-weight: bold;
    }

    &__css {
        text-align: right;
    }

    &__javascript {
        text-align: right;
    }

    &__node {
        text-align: right;
    }

    &__other {
        position: absolute;
        font-weight: bold;
        font-size: $fontSizeBigger;
        animation: animation 3000ms ease-in-out infinite alternate both;
        color: rgb(255, 255, 255, 0.8);
    }

    &__redux {
        top: 170px;
        left: 60px;
        animation-delay: 1200ms;
    }

    &__git {
        top: 50px;
        left: 110px;
    }

    &__npm {
        top: 65px;
        left: 90px;
        animation-delay: 700ms;
    }

    &__rest-api {
        top: 100px;
        left: 120px;
        animation-delay: 2200ms;
    }

    &__webpack {
        top: 45px;
        left: 150px;
        animation-delay: 2400ms;
    }

    &__parcel {
        top: 25px;
        left: 110px;
        animation-delay: 3000ms;
    }

    &__mongo-db {
        top: 180px;
        left: 220px;
        animation-delay: 3500ms;
    }

    &__express {
        top: 150px;
        left: 160px;
        animation-delay: 3900ms;
    }

    &__typescript {
        top: 5px;
        left: 170px;
        animation-delay: 4200ms;
    }

}

@media #{$tabletDesktop} {
    .technologies {
        &__list {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px 130px;
        }

        &__css {
            text-align: center;
        }

        &__sass {
            text-align: right;
        }

        &__react {
            text-align: center;
        }

        &__node {
            text-align: right;
        }

        &__redux {
            top: 90px;
            left: 430px;
        }

        &__git {
            top: 5px;
            left: 280px;
        }

        &__npm {
            top: 20px;
            left: 260px;
        }

        &__rest-api {
            top: 100px;
            left: 180px;
        }

        &__webpack {
            top: 45px;
            left: 520px;
        }

        &__parcel {
            top: 25px;
            left: 480px;
        }

        &__mongo-db {
            top: 100px;
            left: 570px;
        }

        &__express {
            top: 135px;
            left: 610px;
        }

        &__typescript {
            top: 37px;
            left: 130px;
        }
    }
}

@keyframes animation {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}