.about-me {
    padding-top: 30px;

    &__container {
        overflow: hidden;
        position: relative;
    }

    &__rings {
        max-width: 400px;
        position: absolute;
        right: 0;
        transform: translateX(20%) translateY(25%);
    }

    &__title {
        font-size: $fontSizeTitle;
        margin: 80px 0 0 0;
    }
}

.text {
    display: flex;
    flex-direction: column;


    &__item {
        margin: 30px 0 0 0;
        line-height: 1.3;
        border: 3px double getColor("forth");
        padding: 10px;


        &:last-child {
            margin-bottom: 30px;
        }
    }

    &__item--short {
        position: relative;
        height: 70px;
        overflow: hidden;
        transition: height 0.5s ease;
    }

    &__see-more {
        position: absolute;
        bottom: 5px;
        right: 0;
        background-color: transparent;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        color: getColor("secondary");
        border: none;
        transition: $transColor;

        &:hover,
        &:focus {
            color: getColor("fifth");
        }
    }

    &__title {
        letter-spacing: 0.2em;
    }

    &__description {
        margin: 8px 0 0 0;
        font-size: $fontSizeNormal;
        text-align: justify;
    }

    &__description--short::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 1.5em;
        background: linear-gradient(to bottom, rgb(21,
                    21,
                    21, 0.2), rgb(21,
                    21,
                    21, 0.8) 50%);
    }


}

.expanded .text__description--short::after {
    display: none;
}

.expanded .text__see-more {
    display: none;
}

.expanded {
    height: auto;
}

@media #{$tabletDesktop} {
    .text {
        &__item {
            max-width: 550px;
            border: none;
            padding: 0;

            &:nth-of-type(2),
            &:nth-of-type(4) {
                margin-left: auto;
            }

            &:nth-of-type(2) .text__title,
            &:nth-of-type(4) .text__title {
                text-align: right;
            }
        }
    }
}